
.white {
    background-color:  white;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
   
}
.blue {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    background-color: lightblue;
}
.IShop {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 725px;
}
.header {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
}
.allProducts {
    display: flex;
    flex-direction: column;
}

